{% extends "base.html" %}
{% block content %}
<br>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">監督名</th>
            <th scope="col">備考</th>
        </tr>
    </thead>

    {% for director in directors.items %}
    <tbody>
        <tr>
            <td><a href="{{url_for('directors.update', id=director.id)}}">{{director.name}}</a></td>
            <td>{{director.extras}}</td>
        </tr>
    </tbody>
    {% endfor %}


</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% for page in directors.iter_pages(left_edge=2, left_current=2, right_current=5, right_edge=2) %}
      {% if page %}
        {% if page != directors.page %}
            <li class="page-item"><a class="page-link" href="{{ url_for('directors.index_pages', page_num=page) }}">{{ page }}</a></li>
        {% else %}
            <li class="page-item active"><a class="page-link">{{ page }}</a></li>
        {% endif %}
      {% else %}
        <span> ... </span>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

{% endblock %}